<!-- Edit Modal -->
<form id="editUserForm" action="UserController.php" method="POST">
    <input type="hidden" name="id" id="editUserId">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="editUserName">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="editUserEmail">
    </div>
    <button type="submit" name="update" class="btn btn-primary">Save Changes</button>
</form>

<!-- Edit Modal -->
<div class="modal fade" id="user-edit" tabindex="-1" role="dialog" aria-labelledby="edit-user" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row">
                <h2 class="modal-title mx-auto my-auto" id="edit-user"> 
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                        MODIFICA
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                </h2>

                    <h4 class="modal-subtitle mx-auto my-2"> 
                        Modifica i dati esistenti dell'utente.
                    </h4>
            </div>
        
            <div class="modal-body">
                <div class="container-fluid my-1">

                    <form id="user-edit" action="{{ doc_root }}admin/user-edit/" method="POST" autocomplete="off">
                        <input type="hidden" name="id_user" id="id_user" value="" />

                        <div class="row form-group mx-auto">
                            <!-- error['name'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editName">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Nome: </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input name="name" type="text" class="form-control" value="" id="name" />
                            </div>
                        </div>
                        
                        <div class="row form-group mx-auto">
                            <!-- error['surname'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editSurname">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Cognome: </label>
                            </div>
                        
                            <div class="col-7 my-auto">
                                <input name="surname" type="text" class="form-control" value="" id="surname" />
                            </div>
                        </div>
                        
                        <div class="row form-group mx-auto">
                            <!-- error['email'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editEmail">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Indirizzo e-mail: </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input type="text" class="form-control" name="email" value="" id="email" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <!-- error['username'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editUsername">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Username: </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input type="text" class="form-control" name="username" value="" id="username" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <!-- error['gender'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editGender">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Genere: </label>
                            </div>

                            <div class="col-7 my-auto">
                                <select class="form-control" name="id_gender" id="genders"> 
                                    {% for g in genders %}
                                        <option value="{{ g.id_gender }}" class="opt-type"> 
                                                {{ g.name|capitalize }} - {{ g.abbr|upper}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>      
                        </div> 

                        <div class="row form-group mx-auto">
                            <!-- error['bday'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editBday">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Data di nascita: </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input type="text" class="form-control date" name="birthday" value="" id="bday" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <!-- error['city'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editCity">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Luogo di nascita: </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input type="text" class="form-control" name="city" value="" id="city" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <!-- error['country'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editCountry">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> </label>
                            </div>
                            
                            <div class="col-7 my-auto">
                                <input type="text" class="form-control" name="country" value="" id="country" />
                            </div>
                        </div>

                        <div class="row form-group mx-auto">
                            <!-- error['title'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editTitle">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Ruolo aziendale: </label>
                            </div>

                            <div class="col-7 my-auto">
                                <select class="form-control" name="id_title" id="titles"> 
                                    {% for t in titles %}
                                        <option value="{{ t.id_title }}" class="opt-type"> 
                                                {{ t.name|capitalize }} 
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>      
                        </div> 
                                                
                        <div class="row form-group mx-auto">
                            <!-- error['role'] number -->
                            <div class="col my-auto mx-0 px-0 err-circle" id="editRole">
                                <span class="alert my-1 err-circle-span" role="alert"></span>
                            </div>
                            <!--  end  -->

                            <div class="col-4 my-auto">
                                <label class="form-control-label my-auto"> Accesso: </label>
                            </div>

                            <div class="col-7 my-auto">
                                <select class="form-control" name="id_role" id="roles">    
                                    {% for r in roles %}
                                        <option value="{{ r.id_role }}" class="opt-type" 
                                            {% if (m.id_role == r.id_role) %} selected {% endif %}> 
                                                {{ r.name|capitalize }} 
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>   
                        </div> 

                            <!-- error messages -->
                            <div class="col-10 mx-auto my-2 alert message-box">
                                <span class="err errEditName"></span>
                                <span class="err errEditSurname"></span>
                                <span class="err errEditEmail"></span>
                                <span class="err errEditUsername"></span>
                                <span class="err errEditGender"></span>
                                <span class="err errEditBday"></span>
                                <span class="err errEditCity"></span>
                                <span class="err errEditCountry"></span>
                                <span class="err errEditTitle"></span>
                                <span class="err errEditRole"></span>
                                <span class="successEdit"></span>
                            </div>
                            <!-- end -->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default modal-cancel exit" data-bs-dismiss="modal">
                                <span class="bi bi-x-circle">
                                    CHIUDI 
                                </span>    
                            </button>
                            
                            <button type="submit" class="btn btn-default modal-save updateUser" name="update_user">
                                <span class="bi bi-check-circle">
                                    SALVA
                                </span>   
                            </button>
                        </div>

                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<form action="UserController.php" method="POST">
    <input type="hidden" name="id" id="deleteUserId">
    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
</form>

<!-- Delete Modal -->
<div class="modal fade" id="deleteUser-{{ m.id_user }}" tabindex="-1" role="dialog" aria-labelledby="user-delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row">
                <h5 class="modal-title mx-auto my-auto" id="user-delete">
                    <i class="bi bi-trash my-auto"></i> 
                        RIMUOVI 
                    <i class="bi bi-trash my-auto"></i>
                </h5>
            </div> 
            
            <div class="modal-body">
                <form id="delete-user" action="{{ doc_root }}admin/userController" method="POST">
                    <input type="hidden" name="id_user" id="id_user" />

                    <div class="container m-auto my-2">
                        <div class="col-12 mx-auto my-1 py-2 delete-msg">
                            Rimuovere l'utente <br>
                                <span> 
                                    {{ m.name|upper }} {{ m.surname|upper}}?
                                </span>
                        </div>

                        <div class="col-12 mx-auto py-2 success-msg">

                        </div>
                    </div>
            
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-default mx-auto modal-cancel exit" data-bs-dismiss="modal">
                            <span class="bi bi-x-circle">
                                ANNULLA
                            </span>  
                        </button>

                        <button type="submit" class="btn btn-default mx-auto modal-save btnDelete" data-id="{{ m.id_user }}" name="submit">
                            <span class="bi bi-check-circle">
                                CONFERMA
                            </span> 
                        </button>
                    </div>
                </form>
			</div>
        </div>
    </div>
</div>

{% block jsScript %}
<script>
$(document).ready(function(){
//  ===> DATEPICKER     
    //use datepicker on the date inputs
    $(".date").datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true
    });
//  ===> END DATEPICKER 

//  ===> FORM VALIDATION AND SUBMIT 
    
//  ===> END FORM VALIDATION AND SUBMIT
});
</script>
{% endblock %}