{% block head %}
    {# Bootstrap Datepicker - CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" 
        integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous">
{% endblock %}

{# Edit Quantity Modal #}
<div class="modal fade" id="editQtyModal" tabindex="-1" role="dialog" aria-labelledby="editQtyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mx-auto row">
                <h2 class="modal-title" id="editQtyLabel"> 
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                        MODIFICA
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                </h2>

                    <h4 class="modal-subtitle my-2"> 
                        Modifica le quantità del trasporto.
                    </h4>
            </div>
        
            <div class="modal-body">
                <div class="container-fluid">
                    
                    <form id="quantity-edit" method="POST" action="quantity-edit" autocomplete="off" novalidate>
                        <input type="hidden" name="id_transport" id="id_transport" value="{{ transport.id_transport }}" />
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />

                        {# Kg Load #}
                        <div class="row form-group mx-auto my-3">
                            <label class="col-4 form-control-label my-1"> Quantità caricata: </label>
                            
                            <div class="col-8">
                                <input type="text" name="kg_load" id="kg_load" 
                                    class="form-control {% if errors.kg_load %}is-invalid{% endif %}" />

                                <div class="error-placeholder">
                                    {% if errors.kg_load %}<div class="invalid-feedback">{{ errors.kg_load }}</div>{% endif %}
                                </div> 
                            </div>
                        </div>

                        {# Cooling  #}
                        <div class="row form-group mx-auto mb-3">
                            <label class="col-4 form-control-label my-1"> Raffreddamento: </label>
                        
                            <div class="col-8">
                                <select name="cooling" id="cooling" class="form-control 
                                    {% if errors.cooling %}is-invalid{% endif %}">
                                    <option class="opt-type" value="{{ quantity.cooling}}">
                                        {% if (t.cooling == 0) %}
                                            NO = 0
                                        {% else %}
                                            SÌ = 600
                                        {% endif %}
                                    </option> 

                                    <option value="600" class="opt-type"> 
                                        SÌ = 600
                                    </option>
                                    
                                    <option value="0" class="opt-type"> 
                                        NO = 0
                                    </option>
                                </select>

                                <div class="error-placeholder">
                                    {% if errors.cooling %}<div class="invalid-feedback">{{ errors.cooling }}</div>{% endif %}
                                </div>
                            </div>
                        </div>
                        
                        {# Price Typology #}
                        <div class="row form-group mx-auto mb-3">
                            <label class="col-4 form-control-label my-1"> Tipologia costo extra: </label>
                            
                            <div class="col-8">
                                <select name="price_typology" id="price_typology" class="form-control 
                                    {% if errors.price_typology %}is-invalid{% endif %}">
                                    <option class="opt-type" value="{{ quantity.price_typology }}">
                                        {% if (quantity.price_typology == 'yes') %}
                                            SÌ
                                        {% else %}
                                            NO
                                        {% endif %}
                                    </option>   
                                    
                                    <option value="yes" class="opt-type"> 
                                        SÌ
                                    </option>
                                        
                                    <option value="no" class="opt-type"> 
                                        NO
                                    </option>
                                </select>

                                <div class="error-placeholder">
                                    {% if errors.price_typology %}<div class="invalid-feedback">{{ errors.price_typology }}</div>{% endif %}
                                </div>
                            </div>
                        </div>
                            
                        {# Price Value #}
                        <div class="row form-group mx-auto mb-3">
                            <label class="col-4 form-control-label my-1"> Valore costo extra: </label>
                            
                            <div class="col-8">
                                <input type="text" name="price_value" id="price_value"
                                    class="form-control {% if errors.price_value %}is-invalid{% endif %}" />

                                <div class="error-placeholder">
                                    {% if errors.price_value %}<div class="invalid-feedback">{{ errors.price_value }}</div>{% endif %}
                                </div>  
                            </div>
                        </div>
                            
                        {# Kg Unload #}
                        <div class="row form-group mx-auto mb-3">
                            <label class="col-4 form-control-label my-1"> Quantità scaricata: </label>
                            
                            <div class="col-8">
                                <input type="text" name="kg_unload" id="kg_unload"
                                    class="form-control {% if errors.kg_unload %}is-invalid{% endif %}" />

                                <div class="error-placeholder">
                                    {% if errors.kg_unload %}<div class="invalid-feedback">{{ errors.kg_unload }}</div>{% endif %}
                                </div> 
                            </div>
                        </div>
                            
                        {# Gas Weight #}
                        <div class="row form-group mx-auto mb-3">
                            <label class="col-4 form-control-label my-1"> Peso specifico (gas): </label>
                            
                            <div class="col-8">
                                <input type="text" name="gas_weight" id="gas_weight" 
                                    class="form-control {% if errors.gas_weight %}is-invalid{% endif %}" />

                                <div class="error-placeholder">
                                    {% if errors.gas_weight %}<div class="invalid-feedback">{{ errors.gas_weight }}</div>{% endif %}
                                </div> 
                            </div>
                        </div>
                            
                        {# Pcs Ghv #}
                        <div class="row form-group mx-auto mb-3">
                            <label class="col-4 form-control-label my-1"> PCS/GHV: </label>
                            
                            <div class="col-8">
                                <input type="text" name="pcs_ghv" id="pcs_ghv"
                                    class="form-control {% if errors.pcs_ghv %}is-invalid{% endif %}" />

                                <div class="error-placeholder">
                                    {% if errors.pcs_ghv %}<div class="invalid-feedback">{{ errors.pcs_ghv }}</div>{% endif %}
                                </div> 
                            </div>
                        </div>    
            
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default modal-cancel" data-bs-dismiss="modal">
                                <span class="bi bi-x-circle">
                                    CHIUDI 
                                </span>    
                            </button>
                            
                            <button type="submit" class="btn btn-default modal-save updateTrans" name="update_quantity">
                                <span class="bi bi-check-circle">
                                    SALVA
                                </span>   
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{# End Edit Quantity Modal #}

{# Transport Note Modal #}
<div class="modal fade" id="editNote" tabindex="-1" role="dialog" aria-labelledby="edit-note" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row">
                <h2 class="modal-title mx-auto my-auto" id="edit-note"> 
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                        MODIFICA
                    <i class="bi bi-pencil-square my-auto mx-1"></i>
                </h2>

                    <h4 class="modal-subtitle mx-auto my-2"> 
                        Modifica la nota del trasporto.
                    </h4>
            </div> 
                            
            <div class="modal-body">
                <div class="container-fluid">

                    <form id="note-form" method="POST" action="transport-note/{{ t.id_transport }}">
                        <input type="hidden" name="id_transport" id="id_transport" value="{{ t.id_transport }}" />
                        <input type="hidden" name="type" value="{{ t.type }}" />

                        <div class="row form-group mx-auto">
                            <label class="form-control-label my-auto"> Nota: </label>
                            
                            <textarea class="form-control edit-note" name="note" id="note" 
                                style="height: 80px; text-align: center; white-space-collapse: collapse"
                            >{{ t.note|trim }}</textarea>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default modal-cancel" data-bs-dismiss="modal">
                                <span class="bi bi-x-circle">
                                    CHIUDI
                                </span>  
                            </button>
    
                            <button type="button" class="btn btn-default modal-reset">
                                <span class="bi bi-trash">
                                    CANCELLA 
                                </span> 
                            </button>
    
                            <button type="submit" class="btn btn-default modal-save updateNote" id="updateNote" name="update_note">
                                <span class="bi bi-check-circle">
                                    SALVA 
                                </span> 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{# End Transport Note Modal #}

{% block jquery %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" 
        integrity="sha256-umbTaFxP31Fv6O1itpLS/3+v5fOAWDLOUzlmvOGaKV4=" 
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/additional-methods.min.js" 
        integrity="sha256-MtEA819Zls6dtLt5S5BpEMOhifPyz7gfzfgtNtY75lE=" 
        crossorigin="anonymous">
</script>
{% endblock %}

{% block datepicker %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" 
        integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" 
        crossorigin="anonymous">
</script>
{% endblock %}

{% block page_script %}
<script>
$(document).ready(function () {
//  Datepicker 
    $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        endDate: new Date(),
        autoclose: true,
        clearBtn: false
    }).on('changeDate', function (e) {
        $(this).trigger('change');      // validator catches the value
        
        if (this.id === 'date_load') {
            $('#date_unload')
                .datepicker('setStartDate', e.date)
                .datepicker('update', e.date);
        }
        $(this).valid();
    }).on('show', function () {
        // Store current value when datepicker opens
        $(this).data('selectedDate', $(this).val());
    }).on('hide', function (e) {
        // If the user didn't select anything and just clicked out, preserve current value
        const currentVal = $(this).val();
        if (!currentVal) {
            const storedDate = $(this).data('selectedDate');
            if (storedDate) {
                $(this).val(storedDate); // restore value
            }
        }
    });

//  Validator method for defining current date as max
    $.validator.addMethod("noFutureDate", function (value, element) {
        if (!value) return true; // allow empty if not required

        const parts = value.split("-");
        const inputDate = new Date(parts[2], parts[1] - 1, parts[0]); // assuming dd-mm-yyyy
        const today = new Date();
        today.setHours(0, 0, 0, 0); // remove time part

        return inputDate <= today;
    });

//  Validator method for defining that unload's date must be after or equal to load's date
    $.validator.addMethod("dateAfterOrEqual", function(value, element, params) {
        const dateLoadVal = $(params).val();
            if (!value || !dateLoadVal) return true;

        // Parse dates as dd-mm-yyyy
        const partsUnload = value.split("-");
        const partsLoad = dateLoadVal.split("-");

        const dateUnload = new Date(partsUnload[2], partsUnload[1] - 1, partsUnload[0]);
        const dateLoad = new Date(partsLoad[2], partsLoad[1] - 1, partsLoad[0]);
            return this.optional(element) || dateUnload >= dateLoad;
    });

//  Form validation
    $("#transport-edit").validate({
        onfocusout: function(element) {
            $(element).valid();     // validate the field when it loses focus
        },
        rules: {
            slot: { required: true, rangelength: [15, 35], pattern: "^[A-Za-z0-9_]+$" },
            cmr: { required: true, rangelength: [7, 35], pattern: "^[A-Za-z0-9\-]+$" },
            issuer: { required: true, rangelength: [3, 50], pattern: "^[A-Za-z][A-Za-z ]*$" },
            supplier: { required: true, rangelength: [3, 50], pattern: "^[A-Za-z][A-Za-z ]*$" },
            transport: { required: true, rangelength: [3, 50], pattern: "^[A-Za-z][A-Za-z ]*$" },
            date_load: { required: true, noFutureDate: true },
            date_unload: { required: true, noFutureDate: true, dateAfterOrEqual: "#date_load" },
            container: { required: true, rangelength: [3, 50], pattern: "^[A-Za-z][A-Za-z ]*$" }
        },
        messages: {
            slot: {
                required: "Campo obbligatorio.",
                rangelength: "Usare almeno 11 e al massimo 35 caratteri.",
                pattern: "Slot ID può contenere lettere, numeri e underscore (_). Spazi non consentiti."
            },
            cmr: {
                required: "Campo obbligatorio.",
                rangelength: "Usare almeno 7 e al massimo 35 caratteri.",
                pattern: "CMR può contenere lettere, numeri e trattini (-). Spazi non consentiti."
            },
            issuer: {
                required: "Campo obbligatorio.",
                rangelength: "Usare almeno 3 e al massimo 50 caratteri.",
                pattern: "Emittente può contenere solo lettere e spazi (senza spazio iniziale)."
            }, 
            supplier: {
                required: "Campo obbligatorio.",
                rangelength: "Usare almeno 3 e al massimo 50 caratteri.",
                pattern: "Fornitore può contenere solo lettere e spazi (senza spazio iniziale)."
            }, 
            transport: {
                required: "Campo obbligatorio.",
                rangelength: "Usare almeno 3 e al massimo 50 caratteri.",
                pattern: "Trasporto può contenere solo lettere e spazi (senza spazio iniziale)."
            },
            date_load: {
                required: "Campo obbligatorio.",
                noFutureDate: "Inserire una data valida. Non sono permesse date future."
            }, 
            date_unload: {
                required: "Campo obbligatorio.",
                noFutureDate: "Inserire una data valida. Non sono permesse date future.",
                dateAfterOrEqual: "La data di scarico non può essere precedente alla data di carico."
            }, 
            container: {
                required: "Campo obbligatorio.",
                rangelength: "Usare almeno 3 e al massimo 50 caratteri.",
                pattern: "Container può contenere solo lettere e spazi (senza spazio iniziale)."
            }
        },
        errorPlacement: function(error, element) {
            error.addClass("text-danger small");
            element.removeClass("is-valid").addClass("is-invalid");                                             // Bootstrap error class
            element.closest(".form-group").find(".error-placeholder").html(error);      // Insert error inside the reserved space
        },
        highlight: function (element) {
            $(element).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (element) {
            $(element).removeClass('is-invalid');
            $(element).closest('.form-group').find('.error-placeholder').html('');
        },
        submitHandler: function (form) {
            const $form = $(form);
            const oSlot = $("#slot").data("original");
            const oCmr = $("#cmr").data("original");

            $.ajax({
                url: 'transport-edit',
                type: 'POST',
                data: $(form).serialize() + '&original_slot=' + encodeURIComponent(oSlot) + '&original_cmr=' + encodeURIComponent(oCmr),
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        updateOriginalDataFromResponse(response.edited);
                        $('#editTransModal').modal('hide');

                        const edited = response.edited;
                        const row = $('#id-' + edited.id_transport);

                        // Update row cells manually
                        row.find('.col-slot').text(edited.slot);
                        row.find('.col-cmr').text(edited.cmr);
                        row.find('.col-issuer').text(edited.issuer);
                        row.find('.col-supplier').text(edited.supplier);
                        row.find('.col-transport').text(edited.transport);
                        row.find('.col-load').text(edited.date_load);
                        row.find('.col-unload').text(edited.date_unload);
                        row.find('.col-container').text(edited.container);

                        row.find('.col-univoco').text(edited.univoco);
                        row.find('.col-month-load').text(edited.id_month_load);
                        row.find('.col-week-unload').text(edited.week_unload);
                        row.find('.col-month-unload').text(`${edited.id_month_unload} - ${edited.month_unload}`);

                        // Highlight and scroll
                        row.addClass('table-success');
                        $('html, body').animate({ scrollTop: row.offset().top - 100 }, 600);
                            setTimeout(() => row.removeClass('table-success'), 2500);
                    } else {
                        // Display PHP validation errors
                        //$(".invalid-feedback").remove();                    // Clear previous errors
                        if (response.errors) {
                            $.each(response.errors, function(field, message) {
                                const input = $("[name='" + field + "']");
                                input.removeClass("is-valid").addClass("is-invalid");
                                input.closest(".form-group").find(".error-placeholder")
                                    .html('<div class="invalid-feedback">' + message + '</div>');
                            });
                        }
                    }
                },
                error: function (xhr) {
                    console.error(xhr.responseText);
                }
            });
            return false;
        },
        success: function(label, element) {
            $(element).removeClass("is-invalid").addClass("is-valid");
            $(element).closest(".form-group").find(".error-placeholder").html("");
        }
    });

//  Reset modal datepicker on cancel
    $('#editTransModal').on('hidden.bs.modal', function () {
        const dp = $(this).find('.datepicker');
        const $form = $(this).find('#transport-edit');

        // Reset the form fields
        $form[0].reset();

        // Clear jQuery Validation errors
        $form.validate().resetForm();

        // Remove error classes
        $form.find('.is-invalid').removeClass('is-invalid');
        $form.find('.is-valid').removeClass('is-valid');
        
        dp.datepicker('clearDates'); // safely clear dates
        dp.val(''); // clear input value if needed
    });

//  Dates validation on focus in and focus out
    let lastFocused = null;

    $('#date_load, #date_unload').on('focusin', function () {
        lastFocused = this;
    });

    $('#date_load, #date_unload').on('focusout', function () {
        setTimeout(function () {
            if (lastFocused) {
                $(lastFocused).valid();
                lastFocused = null;
            }
        }, 5);
    });

    let originalData = {};
//  Restore original values on modal close if there were changes
    $('#editTransModal').on('hide.bs.modal', function() {
        if (formHasChanged()) {
            resetFormToOriginal();
        }
    });

//  Reset form to original values
    function resetFormToOriginal() {
        $('#transport-edit').find(':input').each(function() {
            const name = $(this).attr('name');
                if (name && originalData.hasOwnProperty(name)) {
                    $(this).val(originalData[name]).trigger('change').removeClass('is-invalid');
                    $(this).closest('.form-group').find('.error-placeholder').html('');
                }
        });
        $('#transport-edit').removeClass('is-invalid');
    }

//  Detect changes and reset if changed
    function formHasChanged() {
        let changed = false;
        $('#transport-edit').find(':input').each(function () {
            const name = $(this).attr('name');
                if (name && originalData[name] !== $(this).val()) {
                    changed = true;
                    return false; // exit early
                }
        });
        return changed;
    }

//  Re-store original data on successful submission
//  (Put this inside your AJAX success response when update is successful)
    function updateOriginalDataFromResponse(data) {
        if (!data || !data.edited) return;
        $('#transport-edit').find(':input').each(function () {
            const name = $(this).attr('name');
                if (name && data.edited.hasOwnProperty(name)) {
                    originalData[name] = data.edited[name];
                }
        });
    }
});
</script>
{% endblock %}