{# Partials Table #}
<td colspan="14" class="mx-auto my-auto border-0" style="--bs-table-bg-state: rgb(255, 254, 246)">
    <div class="d-flex align-items-center">
            {# Left Side #}
        <div class="my-auto me-3 ms-3 text-wrap col-1" id="collapse-1" style="border: 1px solid black">
            <h4 class="mx-auto" style="border: 1px solid red"> 
                <span class="btn collapse-title edit-data" style="cursor: default">
                    Parziali
                </span>
            </h4>

            {% if session.role == 'admin' %}
                <h6 class="me-2" style="border: 1px solid green">
                    <button type="button" class="btn edit-data" data-bs-toggle="modal" 
                            data-bs-target="#deletePartModal" data-id="{{ t.id_transport }}">   
                        <span class="icon-wrap">
                            <i class="bi bi-trash"></i>
                            <i class="bi bi-trash-fill"></i>
                        </span>
                                    
                        <span class="collapse-subtitle"> Elimina </span> 
                    </button> 
                </h6>
            {% endif %}
        </div>

            {# Right Side #}
        <div class="flex-grow-1 my-2 px-2">
            <table class="table table-sm table-bordered table-hover caption-top my-auto part-table" id="part-table-{{ t.id_transport }}">
                <caption class="ms-3 my-0">
                    TOTALE PARZIALI: {{ total_part }}
                </caption>
                <thead class="">
                    <tr class="table-light">
                        <th scope="col" class="align-middle small-col" style="width: 50px"> # </th>
                        <th scope="col" class="align-middle p-2" style="width: 150px"> Destinazione </th>
                        <th scope="col" class="align-middle p-2" style="width: 100px"> EXW </th>
                        <th scope="col" class="align-middle p-2" style="width: 100px"> Data </th>
                        <th scope="col" class="align-middle p-2" style="width: 150px"> Luogo </th>
                        <th scope="col" class="align-middle p-2" style="width: 150px"> Quantità scaricata </th>
                        <th scope="col" class="align-middle p-2" style="width: 100px"> Fattura </th>
                        <th scope="col" class="align-middle small-col" style="width: 50px"> <i class="bi bi-gear"></i> </th>
                    </tr>
                </thead>
                                                     
                <tbody class="table-group-divider">
                {% for p in partials %}
                    <tr>
                        <td scope="row" class="align-middle p-1"> 
                            {{ loop.index }}
                        </td>         
                        <td class="align-middle p-1 col-destination" id="dest"> {{ p.destination|upper }} </td>                                   
                        <td class="align-middle p-1 col-exw" id="exw"> {{ p.exw|upper }} </td>  
                        <td class="align-middle p-1 col-date" id="date"> {{ p.date|date("d/m/Y") }} </td>                   
                        <td class="align-middle p-1 col-place" id="place"> {{ p.place|capitalize }} </td>
                        <td class="align-middle p-1 col-q-unloaded" id="qty"> {{ p.q_unloaded }} </td>
                        <td class="align-middle p-1 col-invoice" id="invoice"> {{ p.invoice }} </td>
                        <td class="align-middle m-auto btns"> 
                        {% if (session.role == 'admin') or (session.id_user == t.id_user) %}
                            <button type="button" class="edit-data edit-part" data-bs-toggle="modal" data-bs-target="#editPart-{{ p.id_partial }}" 
                                    data-id="{{ p.id_partial }}">
                                        <i class="bi bi-pencil-square"></i>
                            </button> 
                        {% else %}
                            <button type="button" class="edit-data" disabled>
                                <i class="bi bi-x-octagon"></i>
                            </button>
                        {% endif %}
                                                            
                        {% if session.role == 'admin' %}
                            <button type="button" class="edit-data delete-data" data-bs-toggle="modal" data-bs-target="#deletePart-{{ p.id_partial }}"
                                    data-id="{{ p.id_partial }}">
                                        <i class="bi bi-trash"></i> 
                            </button>     
                        {% endif %}                        
                        </td> 
                    </tr>  
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</td>