{% extends 'layout.twig' %}
{% block title %} Piattaforma {{ 'now'|date('Y') }} {% endblock %}

{% block search %}
    {# Search Bar #}
    <section class="row my-auto mx-auto search-header">
        <div class="my-auto m-0 search-bar">
            <form id="search-form">
                <button type="button" class="my-1 search-btn">
                    <i class="bi bi-search"></i>
                </button>
                <input type="text" class="my-1 search-input" id="search" placeholder="      Cerca.." />  
            </form>
        </div>
    </section>
{% endblock %}
 
{% block browse %}
    <!--    ===>    BROWSE FILE BAR    <===    -->
    <section class="row my-auto mx-auto browse-header">
        <div class="my-auto m-0 browse-bar">
            <form id="browse-form" enctype="multipart/form-data" method="POST" action="{{ doc_root }}import-csv">
                <label for="browse-input" class="my-1 browse-btn">
                    <i class="bi bi-upload"></i>
                </label>
                
                <input type="file" class="my-1 browse-input" id="browse-input" name="browse-input" 
                    onchange="$('.browse-label').val($(this).val()); $('.browse-group').css('display', 'block');" />
                <input type="text" class="my-1 browse-label" readonly />
                
                <span class="my-1 browse-group"> 
                    <button type="button" class="my-1 remove-btn" onclick="document.querySelector('.browse-label').value=''; $('.browse-group').css('display', 'none');">
                        <i class="bi bi-x-circle"></i>
                    </button>

                    <button type="button" class="my-1 upload-btn">
                        <i class="bi bi-check-circle"></i>
                    </button>
                </span>
                
                <!--<button type="button" class="my-1 browse-btn">
                    <i class="bi bi-upload"></i>
                </button>-->
                
                <!--<div class="input-group my-1 browse-group">
                    <input type="text" class="my-1 browse-label" name="browse-label" readonly />  
                        <button type="button" class="my-1 upload-btn">
                            <span>
                                <i class="bi bi-plus-circle"></i>
                            </span>
                        </button>

                        <button type="button" class="my-1 remove-btn">
                            <span>
                                <i class="bi bi-x-circle"></i>
                            </span>
                        </button>
                </div>-->
            </form>
        </div>
    </section>
    <!--    ===>    END BROWSE FILE BAR    <===    -->
{% endblock %}

{% block content %} 
    {% include 'transports-navigation.twig' %}
    
    <section class="col-12 mx-auto my-1">
                 
            <div class="d-flex justify-content-center">
                <table class="table table-sm table-hover table-striped text-center"> 
                    <thead>
                        <tr class="border-bottom border-top border-light">
                            <th class="align-middle p-3"> # </th>
                            <th class="align-middle p-2"> Tipo </th>
                            <th class="align-middle p-2"> Slot ID </th>
                            <th class="align-middle p-2"> Numero CMR </th>
                            <th class="align-middle p-2"> Emittente </th>
                            <th class="align-middle p-2"> Fornitore </th>
                            <th class="align-middle p-2"> Trasporto </th>
                            <th class="align-middle p-2"> Univoco </th>
                            <th class="align-middle p-2"> Data carico </th>
                            <th class="align-middle p-2"> Data scarico </th>
                            <th class="align-middle p-2"> Mese carico </th>
                            <th class="align-middle p-2"> Settimana scarico </th>
                            <th class="align-middle p-2" colspan="2"> Mese scarico </th>
                            <th class="align-middle p-2"> Container<br>ATB </th>
                            <th class="align-middle p-2"> <i class="bi bi-gear"></i> </th>
                        </tr>
                    </thead>

                    <tbody class="table-body">   
                    {% if transports is not empty %}
                        {% for t in transports %}

                        {# Transport Data #}
                        <tr class="align-middle expand">
                            <td scope="row all">
                                {{ loop.index }}
                                <br>
                                <span class="text-dark note-icon" data-bs-toggle="tooltip" data-id="{{ t.id_transport }}"
                                    title="{{ t.note ? t.note|capitalize|truncate(50) : 'N/A' }}">
                                        <i class="bi bi-exclamation-circle"></i>
                                </span>
                            </td>
                            <td class="align-middle p-1 fw-600"> {{ t.type|upper }} </td>
                            <td class="align-middle p-1 search word-wrap-container"> {{ t.slot|upper }} </td>
                            <td class="align-middle p-1 search word-wrap-container"> {{ t.cmr|upper }} </td>
                            <td class="align-middle p-1 search"> {{ t.issuer|upper }} </td>
                            <td class="align-middle p-1 search"> {{ t.supplier|upper }} </td>
                            <td class="align-middle p-1 search"> {{ t.transport|upper }} </td>
                            <td class="align-middle p-1"> {{ t.univoco|upper }} </td>
                            <td class="align-middle p-1"> {{ t.date_load|date("d/m/Y") }} </td>
                            <td class="align-middle p-1"> {{ t.date_unload|date("d/m/Y") }} </td>
                            <td class="align-middle p-1"> {{ t.id_month_load }} </td>
                            <td class="align-middle p-1"> {{ t.week_unload }} </td>
                            <td class="align-middle p-1" colspan="2"> {{ t.id_month_unload }} - {{ t.month_unload }} </td>
                            <td class="align-middle p-1 last-border"> {{ t.container|upper }} </td>
                            <td class="align-middle p-1 text-center">
                                <button class="btn btn-sm" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#qty-{{ t.id_transport }}"
                                        aria-expanded="false"
                                        aria-controls="qty-{{ t.id_transport }}">
                                    <i class="bi bi-arrows-expand"></i>
                                </button>
                            </td>
                        </tr>
                        {# End Transport Data #}  
     
                        {# Quantity Data #}
                        <tr class="accordion-toggle" id="{{ loop.index }}">        
                            <td colspan="17" class="border-0">
                                <div class="accordion-body collapse rowQty" id="qty-{{ t.id_transport }}"> 
                                    <h4 class="mx-auto my-2 text-center"> 
                                        <span class="btn my-auto collapse-title edit-data" style="cursor: default">
                                            Quantità:
                                        </span> 
                                    </h4>

                                    <table class="table table-bordered table-sm mb-2">
                                        <tbody>    
                                            <tr>
                                                <th class="sub-title align-middle p-1"> Energia caricata [MWh] </th>
                                                <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.mwh }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Quantità nominale caricata [kg] </th>
                                                <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.kg_load }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Raffreddamento </th>            
                                                <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.cooling == 600 ? '600' : 'No' }}
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Tipologia costo extra </th>            
                                                <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.price_typology == 'yes'? 'Sì' : 'No' }}
                                                    </td>            
                                                <!--<th class="sub-title align-middle p-1"> Accisa <big>[</big>Sm<sup>3</sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle">  

                                                    </td>        -->    
                                            </tr>
                                         
                                            <tr>
                                                <th class="sub-title align-middle p-1"> Valore costo extra </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                            {{ t.price_value }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Quantità scaricata PD [kg] </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                            {{ t.kg_unload }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Densità (liquido) [<sup>kg</sup>&frasl;<sub>m<sup>3</sup></sub>] </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                            {{ t.liquid_density }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Peso specifico (gas) <big>[</big><sup>kg</sup>&frasl;<sub>Nm<sup>3</sup></sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                            {{ t.gas_weight }} 
                                                    </td>
                                                <!--<th class="sub-title align-middle p-1"> Accisa totale </th>
                                                    <td class="bg-light bg-gradient align-middle">  

                                                    </td>-->
                                            </tr>
                                                     
                                            <tr>
                                                <th class="sub-title align-middle p-1"> PCS/GHV <big>[</big><sup>MJ</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.mj_kg }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> PCS/GHV <big>[</big><sup>kWh</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.pcs_ghv }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Volume scaricato (liquido) <big>[</big>m<sup>3</sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.volume_mc }} 
                                                    </td>
                                                <th class="sub-title align-middle p-1"> Volume sviluppato <big>[</big><sup>Nm<sup>3</sup></sup>&frasl;<sub>m<sup>3</sup></sub><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.volume_nmc }} 
                                                    </td>  
                                                <!--<th class="sub-title align-middle p-1"> Incidenza </th> 
                                                    <td class="bg-light bg-gradient align-middle">  

                                                    </td> -->
                                            </tr>
                             
                                            <tr>
                                                <th class="sub-title align-middle p-1"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>m<sup>3</sup></sub> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.smc_mc }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Gas sviluppato <big>[</big>Nm<sup>3</sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.gas_nmc }} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> Gas sviluppato <big>[</big>Sm<sup>3</sup></sup><big>]</big> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.gas_smc}} 
                                                    </td>   
                                                <th class="sub-title align-middle p-1"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>kg</sub> </th>
                                                    <td class="bg-light bg-gradient align-middle"> 
                                                        {{ t.smc_kg }} 
                                                    </td>  
                                                <!--<th class="sub-title align-middle p-1"> </th> 
                                                    <td class="bg-light bg-gradient align-middle"> 

                                                    </td>       -->   
                                            </tr>
                                        </tbody>
                                    </table>

                                </div> 
                            </td> 
                        </tr>
                        <!--    ===>    End Quantity Data    <===    -->
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="16" class="text-center text-light p-3">
                                <strong> Nessun utente trovato. </strong>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                     
                    {# Table Footer #}
                    <tfoot>
                        <tr>
                            <td colspan="16" class="text-light align-middle mb-2 p-2">
                                <h5 class="align-middle my-auto">
                                    TOTALE <i class="bi bi-fuel-pump-fill ms-1"></i> + <i class="bi bi-fuel-pump"></i>:
                                        <span> {{ total }} </span>
                                </h5> 
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div> 
       
    </section> 
{% endblock %}
   
{% block jquery %}
    {# JQuery #}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous">
</script>
{% endblock %}

{% block page_script %}
<script>
$(document).ready(function() {
//  Tooltip  
    $("body").tooltip({ 
        selector: '[data-bs-toggle = tooltip]',
        placement: 'right' 
    });

//  Search Bar
    $("#search").keyup(function(){
        var value = this.value.toLowerCase().trim();

        $(".platform").each(function(index){
            if(index !== -1){

                $(this).find("td").each(function(){
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    
                    $(this).closest('tr').toggle(!not_found);
                        return not_found;
                });
            } 
        });
    });

    $("#search").keydown(function(e){
        if(e.keyCode == 13){ 
            e.preventDefault();
                return false;
        }
    });
});  
</script>   
{% endblock %}