{# Table Body #}
{% if transports is not empty %}
    {% for t in transports %}
            {# Transports Data #}
        <tr id="id-{{ t.id_transport }}" class="align-middle expand {% if t.type == 'P' %}partial-row{% else %}full-row{% endif %}">
            <td style="width: 50px" scope="row" class="row-loop">
                <div class="d-flex justify-content-between align-items-center h-100">
                    <div class="d-flex flex-column align-items-center">
                        {{ ((page - 1) * limit) + loop.index }} 

                        {% if show_type %}
                            {% if t.type == 'F' %}
                                <span class="badge bg-info text-dark mt-1">F</span>
                            {% else %}
                                <span class="badge bg-warning text-dark mt-1">P</span>
                            {% endif %}
                        {% endif %}
                    </div>

                    <button class="my-auto ms-2 collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#qty-{{ t.id_transport }}" 
                            aria-expanded="false" aria-controls="qty-{{ t.id_transport }}" title="Espandi">
                        <i class="bi bi-plus-lg icon-plus m-auto"></i>
                        <i class="bi bi-dash-lg icon-minus m-auto"></i>
                    </button>
                </div>
            </td>
            <td style="width: 350px" class="align-middle px-2 search word-wrap-container col-slot"> {{ t.slot|upper }} </td>
            <td style="width: 250px" class="align-middle px-2 search word-wrap-container col-cmr"> {{ t.cmr|upper }} </td>
            <td style="width: 150px" class="align-middle px-1 search col-issuer"> {{ t.issuer|upper }} </td>
            <td style="width: 150px" class="align-middle px-1 search col-supplier"> {{ t.supplier|upper }} </td>
            <td style="width: 100px" class="align-middle px-1 search col-transport"> {{ t.transport|upper }} </td>
            <td style="width: 180px" class="align-middle px-1 col-univoco"> {{ t.univoco|upper }} </td>
            <td style="width: 120px" class="align-middle px-1 col-load"> {{ t.date_load|date("d/m/Y") }} </td>
            <td style="width: 120px" class="align-middle px-1 col-unload"> {{ t.date_unload|date("d/m/Y") }} </td>
            <td style="width: 100px" class="align-middle px-0 col-month-load"> {{ t.id_month_load }} </td>
            <td style="width: 100px" class="align-middle px-0 col-week-unload"> {{ t.week_unload }} </td>
            <td style="width: 130px" class="align-middle px-1 col-month-unload"> {{ t.id_month_unload }} - {{ t.month_unload|capitalize }} </td>
            <td style="width: 160px" class="align-middle px-1 col-container"> {{ t.container|upper }} </td>
            <td style="width: 80px"  class="align-middle px-1 btns col-btns">   
            {% if (session.role == 'admin') or (session.id_user == t.id_user) %}
                <button type="button" class="edit-data edited updateTrans" data-bs-toggle="modal" data-bs-target="#editTransModal"
                        data-id="{{ t.id_transport }}">
                    <i class="bi bi-pencil-square" title="Modifica"></i>
                </button>
            {% else %}    
                <button type="button" class="edit-data" disabled>
                    <i class="bi bi-x-octagon"></i>
                </button>
            {% endif %}
                                
            {% if (session.role == 'admin') %}
                <button type="button" class="edit-data deleteTrans" data-bs-toggle="modal" data-bs-target="#deleteTransModal"
                        data-id="{{ t.id_transport }}" data-slot="{{ t.slot }}">
                    <i class="bi bi-trash" title="Elimina"></i> 
                </button>  
            {% endif %}
            </td>
        </tr>

            {# Quantities Data #}
        <tr class="collapse accordion-collapse border-2 collapse-platform" id="qty-{{ t.id_transport }}">        
            <td colspan="14" class="mx-auto my-auto border-0">
                <div class="d-flex align-items-center">
                        {# Left Side #}
                    <div class="my-auto me-3 ms-3 text-wrap col-1" id="collapse-1">
                        <h4 class="mx-auto"> 
                            <span class="btn collapse-title edit-data" style="cursor: default">
                                Quantità
                            </span>
                        </h4>

                        {% if (session.role == 'admin') or (session.id_user == t.id_user) %}
                            <h6 class="mx-auto" >
                                <button type="button" class="btn edit-data updateQty qty-btn" data-bs-toggle="modal" 
                                        data-bs-target="#editQtyModal" data-id="{{ t.id_transport }}">   
                                    <span class="icon-wrap">
                                        <i class="bi bi-pencil"></i>
                                        <i class="bi bi-pencil-fill"></i>
                                    </span>
                                    
                                    <span class="collapse-subtitle"> Modifica </span> 
                                </button> 
                            </h6>
                        {% endif %}
                    </div>

                        {# Right Side #}
                    <div class="flex-grow-1 my-2 px-2">
                        <table class="table table-bordered my-2 qty-table" id="qty-table-{{ t.id_transport }}">
                            <tbody>    
                                <tr>
                                    <th class="table-light align-middle p-1"> Energia caricata [MWh] </th>
                                    <td class="align-middle col-mwh"> {{ t.mwh|default('—') }} </td>   

                                    <th class="table-light align-middle p-1"> Quantità nominale caricata [kg] </th>
                                    <td class="align-middle col-kg-load"> {{ t.kg_load|default('—') }} </td>   

                                    <th class="table-light align-middle p-1"> Raffreddamento </th>            
                                    <td class="align-middle col-cooling"> {{ t.cooling == 600 ? '600' : 'No' }} </td>

                                    <th class="table-light align-middle p-1"> Tipologia costo extra </th>            
                                    <td class="align-middle col-price-typology"> {{ t.price_typology == 'yes' ? 'Sì' : 'No' }} </td>   
                                </tr>
                                            
                                <tr>
                                    <th class="table-light align-middle p-1"> Valore costo extra </th>
                                    <td class="align-middle col-price-value"> {{ t.price_value|default('—') }} </td>

                                    <th class="table-light align-middle p-1"> Quantità scaricata PD [kg] </th>
                                    <td class="align-middle col-kg-unload"> {{ t.kg_unload|default('—') }} </td>

                                    <th class="table-light align-middle p-1"> Densità (liquido) [<sup>kg</sup>&frasl;<sub>m<sup>3</sup></sub>] </th>
                                    <td class="align-middle col-liquid-density"> {{ t.liquid_density|default('—') }} </td>

                                    <th class="table-light align-middle p-1"> Peso specifico (gas) <big>[</big><sup>kg</sup>&frasl;<sub>Nm<sup>3</sup></sub><big>]</big> </th>
                                    <td class="align-middle col-gas-weight"> {{ t.gas_weight|default('—') }} </td>
                                </tr>
                                                    
                                <tr>
                                    <th class="table-light align-middle p-1"> PCS/GHV <big>[</big><sup>MJ</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                    <td class="align-middle col-mj-kg"> {{ t.mj_kg|default('—') }} </td>

                                    <th class="table-light align-middle p-1"> PCS/GHV <big>[</big><sup>kWh</sup>&frasl;<sub>kg</sub><big>]</big> </th>
                                    <td class="align-middle col-pcs-ghv"> {{ t.pcs_ghv|default('—') }} </td>

                                    <th class="table-light align-middle p-1"> Volume scaricato (liquido) <big>[</big>m<sup>3</sup><big>]</big> </th>
                                    <td class="align-middle col-volume-mc"> {{ t.volume_mc|default('—') }} </td>

                                    <th class="table-light align-middle p-1"> Volume sviluppato <big>[</big><sup>Nm<sup>3</sup></sup>&frasl;<sub>m<sup>3</sup></sub><big>]</big> </th>
                                    <td class="align-middle col-volume-nmc"> {{ t.volume_nmc|default('—') }} </td> 
                                </tr>
                                            
                                <tr>
                                    <th class="table-light align-middle p-1"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>m<sup>3</sup></sub> </th>
                                    <td class="align-middle col-smc-mc"> {{ t.smc_mc|default('—') }} </td> 

                                    <th class="table-light align-middle p-1"> Gas sviluppato <big>[</big>Nm<sup>3</sup><big>]</big> </th>
                                    <td class="align-middle col-gas-nmc"> {{ t.gas_nmc|default('—') }} </td>   

                                    <th class="table-light align-middle p-1"> Gas sviluppato <big>[</big>Sm<sup>3</sup></sup><big>]</big> </th>
                                    <td class="align-middle col-gas-smc"> {{ t.gas_smc|default('—') }} </td>   

                                    <th class="table-light align-middle p-1"> <sup>Sm<sup>3</sup></sup>&frasl;&nbsp;<sub>kg</sub> </th>
                                    <td class="align-middle col-smc-kg"> {{ t.smc_kg|default('—') }} </td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>

        {% if t.type == 'P' %}
            {# Partials Data #}
        <tr class="collapse accordion-collapse border-2 collapse-platform part-row" id="qty-{{ t.id_transport }}">        
            {% include 'partials.twig' with {
                partials: partials[t.id_transport]|default([]),
                t: t,
                total_part: total_part[t.id_transport]|default(0)
            } only %}
        </tr>
        {% endif %}
    {% endfor %}
{% endif %}
{#}
{% block jquery %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous">
</script>
{% endblock %}
{#
{% block page_script %}
<script>
/*   _______________________________
//  |                               |
//  |          PAGINATION           |
//  |_______________________________|
*/
  /*  $(document).on('click', '.transport-page', function(e) {
        e.preventDefault();
        const page = $(this).data('page');
        const csrfToken = $('input[name="csrf_token"]').val();

        if ($(this).parent().hasClass('disabled') || $(this).parent().hasClass('active')) {
            return;
        }

        $.ajax({
            type: 'POST',
            url: 'pagination',
            dataType: 'json',
            data: {
                csrf_token: csrfToken,
                page: page,
                show_type: true
            },
            success: function (response) {
                if (response.success) {
                    $('#transport-tbody').html(response.tbody);
                    $('#transport-tfoot').html(response.pagination);
                } else {
                    alert(response.message || 'Errore nel caricamento della pagina.');
                }
            },
            error: function () {
                alert('Errore nel caricamento della pagina.');
            }
        });
    });*/
</script>
{% endblock %}#}